.fixed-value {
    background-color: LightGreen !important;
}
.cardinality {
    background-color: LightYellow !important;
}
.extension, .locale {
    background-color: LightCyan !important;
}
.restriction {
    background-color: LightRed !important;
}
.table {
	word-wrap: anywhere;
}
.references {
	display: none;
}
.show-references .references {
	display: block;
}
.indent {
	margin-left: 20px;
}