.extension, .restriction, .fixed-value, .cardinality, .locale {
    background-color: LightCyan !important;
}
.table {
    word-wrap: anywhere;
}
.references {
    display: none;
}
.show-references .references {
    display: block;
}
.indent {
    margin-left: 20px;
}