<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <description>AsciiDoc to HTML5 Filter</description>
        <filter-name>AsciiDoc Filter</filter-name>
        <filter-class>com.javest.servlet.filter.AsciidocFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AsciiDoc Filter</filter-name>
        <url-pattern>*.adoc</url-pattern>
        <url-pattern>*.md</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.htm</welcome-file>
    </welcome-file-list>
</web-app>
