.extension, .restriction, .fixed-value, .cardinality, .locale {
    background-color: LightCyan !important;
}
.table {
    word-wrap: anywhere;
}
.references {
    display: none;
}
.show-references .references {
    display: block;
}
.indent {
    margin-left: 20px;
}
.rowid {
    font-size: 80% !important;
}
.navbar-agid{
	background-color: #0059b3;
}
.navbar-default .navbar-nav>li>a {
	color: #FFFFFF;
}
.btn-agid{
	background-color: #e0e0e0;
	color: #333333;
}
.btn-agid:hover{
	background-color: #FFFFFF;
	color: #333333;
}
.warning_indefinizione{
	color: red;
    font-style: italic;
    margin: 0;
    padding: 0;
    display: inline;
}
.annuncio{
	font-size: 120%;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #FFFFAA;
    border-color: orange;
    font-style: italic;
}